@charset "utf-8";
/* CSS Document */
.con-fee{font-weight: bold; text-align: center; color: #ad003a; margin-bottom: 20px; font-size: 23px;}
.contact-info {
    margin-bottom: 25px;
    background: #012643;
    padding: 20px 20px;
}
.contact-info__icon {
    margin-right: 20px;
}
.contact-info__icon i { color: #fff;}
.contact-info .media-body h3 {
    font-size: 16px;
    margin-bottom: 0;
    font-size: 16px;
    color: #f26246;
}
.contact-info .media-body p {
    color: #fff;text-align:left
}
.jo{width:100%;float:left;}
 .journal {
padding: 2%;
border: 1px solid #dcddde;
height: 200px;
margin-bottom: 30px;
box-shadow: 2px 2px 0px 0px #1e14492b;
}
.journal h6 {
font-size: 14px;
color: #1E355D;	
line-height: 23px;
font-weight: 600;
font-family: playfair display, times, serif;
}
.journal p {
font-size: 14px !important;
}
.journal a{
	color: #202f3ee0 !important;
}
.rounded-soft {
    border-radius: .375rem !important;
}
	.journals {
    margin-bottom: 25px;
}
.journals .card-image {
    background: #9e9e9e;
    padding: 10px;
    text-align: center;
    box-shadow: 0 2px 1px 2px #e9e9e9;
    width: 100px;
    margin: auto;
}
.journals .card-image img {
    height: -webkit-fill-available;
    height: 70px;
    width: 100%;
}

.journals h5 {
    margin-top: 2px;
    line-height: 21px;
    margin-top: 0font-weight: bolder;
    font-size: 14px;
    color: #4a4949;
}
.journals strong {
    font-weight: 600!important;
}
.journal-btn {
    background: #990e21;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}
.journal-btn:hover{
	color: #fff !important;
}
.btn-paper{
    background: #fd793b;
    padding: 10px 35px;
    margin-top: 22px;
}
.serv-section-3 {
    border: 5px solid #8e8a8a !important;
    }

    .widget-title {
    	    font-weight: 600;
    font-size: 21px;
    text-transform: uppercase;
    }
.blink {
      animation: blinker 1s linear infinite;
      color: #1c87c9;
      font-weight: bold;
     /* font-family: sans-serif;*/
      }
      @keyframes blinker {  
      50% { opacity: 0; }
      }
      .blink-one {
      animation: blinker-one 1s linear infinite;
      }
      @keyframes blinker-one {  
      0% { opacity: 0; }
      }
      .blink-two {
      animation: blinker-two 1.4s linear infinite;
      }
      @keyframes blinker-two {  
      100% { opacity: 0; }
      }
.dropdown:hover .dropdown-menu {
    display: block !important;
    margin-top: 0 !important;
 }
 .download {
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
       padding: 18px;
    background:rgb(15 3 41);
    border-right: 1px solid;
    color: #fff;
    display: flex;
    border-bottom: 1px solid #ffffff7a;
    margin-top: -6px;
}
.download .fa {
    font-size: 33px;
    color: #ffffff;
    margin-bottom: 10px;
    margin-top: 6px;
}
.download a {
    color: #fff !important;
}
.download span {
    color: #f1dd7b;
    font-weight: 600;
}
.reg{

    color: #ffffff;


}
body {margin:0;font-family:'Monda', sans-serif;}
.btn-h{margin: 25px 0px 10px;display: inline-block;}
.organizing h4{margin-bottom:20px;}
.img-c{margin:0px 0px;width:100%;float:left;}
.img-c img{background:#fff;}
.caption h1{font-weight: bold;color: #e0ebf2;font-size: 31px; margin-bottom: 20px;text-shadow: 1px 1px 1px #3d99cf;margin-top: -75px;}
.caption h3{font-weight: bold;color: #e0ebf2;font-size: 31px; margin-bottom: 20px;text-shadow: 1px 1px 1px #3d99cf;margin-top: -75px;}
.introdu{width:100%;float:left;}
.introdu img{border: 3px ridge #0b1a85;}
.og p{font-size:14px;text-align:left;line-height: 20px;}
.og p span{font-weight:bold;}
.serviceBox p{text-align:center!important;}
.imp-jou{text-align:center;}
.table thead{background: #dedede;border: 1px solid #153882;}
.table thead th, .table tbody tr, .table tbody tr th {border: 2px solid #153882;text-align: center;vertical-align: middle;}
.table tbody td{border: 2px solid #153882;text-align:center;}
.table {width: 100%;border: 1px solid #153882;}
.btn-outline-danger{width: 100%!important;}
.cap{margin-top: 25px;margin-bottom: 0px;}
.des{color: #f1dd7b;font-weight: 600;}
.dess{margin-top: 10px; width: 100%; float: left; margin-bottom: 20px;}
.header{ width:100%; float:left; background:#fff;box-shadow: 2px 2px 13px #9c9a9a; position: relative;}
.conf-name{ width:100%; float:left;}
.carousel-item {height: 100%;min-height: 360px;background: no-repeat center center scroll;-webkit-background-size: cover;
  -moz-background-size: cover; -o-background-size: cover; background-size: cover;}
  .navbar-fixed {
    top: 0;
    z-index: 100;
    position: fixed;
    width: 100%;
    background-color: #fff;
  }
.conf-det{width:100%; float:left;}
.conf-det h3{ color:#043cb3; margin-bottom: 0; font-weight: 600; font-size: 24px;} 
.conf-det h1{ color:#f12424; font-weight: 600;  font-size: 32px;}
.conf-det h4{font-size: 18px; font-weight:600;  color: #043cb3;}
.conf-det h5{ font-size: 24px; color:#000;} 
.conf-det h6{font-size: 22px; color: #f12424;}
.conf-det p b{ color:#000}
.conf-det h6 i{ color:#F30; }
.welc-sec{ width:100%; float:left; padding:1%; border-top: 1px solid #ecebeb; }
.welc-sec h4{color: #09012c; font-weight: 600; text-align: center;margin-top: 20px;}
.well{width:100%; float:left; padding:30px 0 30px 0;}
.ul-li { box-shadow: 0 0 10px rgba(0,0,0,0.5); padding: 10px 0 10px 25px;}
.ul-li li{ list-style:url(../images/arrow.png) outside none;}
.ul-li li a{ color:#333;}
.lis { padding-left: 15px; }
.lis li{ list-style:url(../images/arrow.png) outside none;     line-height: 35px;}

.inner-highlights { width: 100%; float: left; margin-top: 0;}
.inner-highlights h4{ text-align:left !important;}
.marqu{ text-align: left;}
.marqu p { border-bottom: 1px dotted #ccc; padding: 10px; text-align: left !important;  margin-bottom: 0px;}
.marqu { float: left; width: 100%; background: white; border: #e1e1e1; padding: 25px 10px 10px 15px; list-style: none;box-shadow: 0 0 10px rgba(0,0,0,0.5); margin-top: 5px;}
.em-spk{width:100%; float:left; padding:50px 0;}
.em-sec h4{color: #153882; font-weight: 600; text-align: center;}
.logo{ margin-top:75px;}
.conf-det p img{ border: 1px solid #777;}
.quick-links h4{color: #153882; font-weight: 600; text-align:center;} 
.quick{  margin-top: 35px;}
.abt-sec{ width:100%; float:left; /*margin:50px 0;*/}
.abt-sec h4 {color: #09012c; font-weight: 600; text-align:center;}

.msg-sec{ width:100%; float:left; margin:20px 0;} 
.msg-sec p{ text-align:justify;}
.msg-sec h4{color: #09012c; font-weight: 600; text-align:center;MARGIN-TOP: 30PX;
    margin-bottom: 30px;}
.titleline { position: relative; width: 100px; border-top: 3px solid #8c0808;margin: 0 auto; margin-bottom: 15px;}
.intro{ width:100%; float:left;}
.intro p {text-align: center; line-height: 28px;}
.introdu p{text-align:justify;}
.intro1{ width:100%; float:left;margin-top: 20px;}
.intro1 p {text-align: justify; line-height: 28px;}
.intro1 h4{ color: #09012c;font-weight: 600; text-align: left;}
.titleline1 { position: relative; width: 100px; border-top: 3px solid #8c0808;  margin-bottom: 15px;margin-bottom: 20px;}
.intro2{ width:100%; float:left;}
.intro2 p {text-align: justify; line-height: 28px;}
hr.style-two {border: 0; height: 1px;background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(187, 184, 182), rgba(0, 0, 0, 0));}
.imp-date{ width:100%; float:left;  margin-top: 30px; min-height:28px;}
.important-date{width:50%; float:left; padding-top:0; background:#f15a24; text-align:center; padding:10px;min-height: 135px;}
.important-date h3{font-size: 30px; font-weight: 600; color:#153882; padding-top:0; margin:5px 0 0 0;}
.date-sec {width: 100%;float: left;margin-top: 15px;text-align: center;margin-left: 0;  border: 5px ridge #fff; margin-bottom: 10px;}
.date-sec h5 { margin-bottom: 0; font-size: 18px; color: #000; line-height: 30px; padding-top: 10px;}
.date-sec p{ font-size: 16px; color:#fff; padding-top:0; text-align:center;}
hr.style4 { border-top: 1px dotted #153882; width: 300px; margin: 10px auto;}
.downloads{ width:50%; float:left;  background: #153882; text-align:center; padding:10px 10px 19px 10px; min-height: 135px;}
.downloads h3{ font-size: 30px; font-weight: 600; color:#f15a24; padding-top:0;  margin:5px 0 0 0; text-align:center;}
.downloads p{ font-size: 16px; color:#fff; padding-top:0;}
.secs{ float: left;	width: 100%; margin-top:20px;margin-bottom: 20px;}
.down-logo{ width:100%; float:left; margin-top:30px;margin-bottom: 30px;}
.button6{ color: rgba(0,0,0,1); -webkit-transition: all 0.5s; -moz-transition: all 0.5s; -o-transition: all 0.5s; transition: all 0.5s; border: 1px solid #ccc;position: relative; width: 100%;float: left;padding: 20px 0px;line-height: 0px;text-align: center;margin-bottom: 25px;}
.button6 a{ color: #007bff; text-decoration: none;	display: block; cursor: pointer; font-weight:600;}
.button6::before{content: ''; position: absolute; top: 0;	left: 0;width: 100%;height: 100%;z-index: 1;opacity: 0;	background-color: rgba(0,0,0,0.3); -webkit-transition: all 0.4s; -moz-transition: all 0.4s;	-o-transition: all 0.4s;transition: all 0.4s;-webkit-transform: scale(0.5, 1); transform: scale(0.5, 1); cursor:pointer;}
.button6:hover::before{	opacity: 1;	-webkit-transform: scale(1, 1);	transform: scale(1, 1); color:#000;}
.video{ width:100%; float:left; margin-top:30px;}
.association{ width:100%; float:left; margin-top:30px;}
.con-eve { width: 100%; float: left;}
.assoc marquee{ width: 100%; float: left; padding-top: 20px;}
.marquee img{border: 1px solid #ccc; padding: 5px 10px;  margin: 0;  margin-right: 15px; background: #fff;}
.related-topic{width:100%; float:left; margin-top:30px;}
.wel{width:100%; float:left;}
.mesg{ border: 1px solid #153882; padding: 10px 15px; background: #e0e6fd; }
.pdd{  width: 100%; float: left; text-align: center; margin-top: 10px;}
.pdd a{background: #153882; padding: 5px 10px; color: #fff;}
.speech img{background-color: #f5f5f5;border: 5px solid #153882; border-bottom-right-radius: 3px; text-align: -webkit-center;box-shadow: 4px 4px 20px #153882;}
.assoc{width:100%; float:left; margin-top:30px; padding: 30px 0; background:#fffbfb;}
.assoc h4 {color: #09012c;font-weight: 600; text-align: center;}
.links{width:100%; float:left; margin-top:30px;}
.qck-lin{float: left; width: 100%; background: white; padding: 10px 10px 10px 15px; list-style: none; border: 1px solid #efecec;  box-shadow: 0 0 10px rgba(0,0,0,0.5); }
.qck-lin li {line-height: 16px; margin-bottom: 0px; text-align: center; border-bottom: 1px dotted #ccc; padding: 10px 0 10px 0;}
.qck-lin li:last-child{border-bottom: none; }
.qck-lin li a{position: relative;display: block; padding-left: 0;color: #153882; font-size: 16px; font-weight: 600;display:inline-block;vertical-align:middle;-webkit-transform:perspective(1px) translateZ(0);transform:perspective(1px) translateZ(0);box-shadow:0 0 1px rgba(0, 0, 0, 0);-webkit-transition-duration:0.3s;transition-duration:0.3s;-webkit-transition-property:transform;transition-property:transform;}
.qck-lin li a:hover, .qck-lin li a:focus, .qck-lin li a:active{-webkit-transform:translateX(8px);transform:translateX(8px);color:#f12424; font-weight:600; text-decoration:none;}
.lefec{border:1px solid #ccc;}
.panel-group{ margin-top:20px;}
.past-conf{width:100%; float:left; margin-top:30px;}
.highlights{width:100%; float:left; margin-top:30px;}
.d-inline{ font-weight:600; color:#000;}
.h-six{font-weight:600; color:#153882;margin-top: 10px; font-size: 18px;}
.address{width:100%; float:left; }
.ven{width:100%; float:left; }
.contact-form .form-field { margin-bottom: 20px; position: relative;}
.contact-form .form-field i {position: absolute; top: 50%; left: 16px; transform: translateY(-50%);}
.contact-form .form-field input { width: 100%; padding: 10px 40px; border: 1px solid #ccc;}
.contact-form .form-field textarea { width: 100%; padding: 10px 20px; border: 1px solid #ccc;}
.form-group label{font-weight:600;}
.sess-track{width:100%; float:left; margin-top:30px;}
.sess-track h4 {color: #153882; font-weight: 600; text-align: center;}
.marq{float: left;width: 100%;background: white; border: #e1e1e1;padding: 25px 10px 10px 15px; list-style:none;  box-shadow: 0 0 10px rgba(0,0,0,0.5); margin-top: 20px;}
.marq p{ border-bottom:1px dotted #ccc; padding:10px;}
.footer{float: left;width: 100%; background: #09012c;}
.footer{ text-align: center; color: #fff;font-weight: 600; padding: 15px 0 0 0; margin-bottom: 0;}
.our-team{    box-shadow: 2px 2px 10px #b5b3b3; text-align: center;}
.pic img{ width: 100%;height: 100%;}
.post-title{ font-size: 15px; color:#153882; font-weight:600;}
.post{display: block;color:#333;text-transform: capitalize; font-size: 14px;}
.description{ padding: 2px 10px 2px 10px; color:#666; font-size: 14px; border-bottom: 3px solid transparent; margin-bottom: 0; text-align:center !important; font-style:italic;}
.our-team:hover{ border-bottom: 1px solid transparent;}
.our-team:hover .description{ border-bottom: 3px solid #f15a24; transition: all 0.2s ease-out 0s;}
.team-prof a{ background: #153882; color: #fff; padding: 5px 10px; font-size: 14px; margin-bottom: 10px; width: 100%; float: left;}
.team-prof a:hover{ text-decoration:none;}
.imp-sec{ width:100%; float:left; margin-top:50px;}
.highlights-area {position: relative; background-color: #e8e7e7d4; display: block; z-index: 1; width:100%; float:left; box-shadow: 1px 1px 10px #ccc; padding: 50px 0;}
.highlights-area h4 { color: #09012c; font-weight: 600; text-align: center;}
.highlights-area .single-box { position: relative; display: block; padding: 0 30px 30px; background: #f2f2f2; max-width: 100%;width: 100%; min-height: 155px;height: 200px;margin-bottom: 60px;}
.highlights-area .single-box .icon-holder { position: relative; display: block; width: 85px; height: 85px; background: #ffffff; margin: -42px auto 0; border-radius: 50%;border: 2px solid #8c0808; box-shadow: 1px 1px 5px #ccc;}
.highlights-area .single-box h3 { color: #000; font-size: 18px; margin: 25px 0 14px;}
.highlights-area .single-box p { color: #000; margin: 14px 0 15px; letter-spacing: 1px;font-weight: 500;}
.highlights-area .single-box .icon-holder span:before {color: #8c0808; font-size: 30px; line-height: 40px; display: block; padding: 22px 0;}
.highlights-area .single-middle-box { position: relative; display: block; padding: 0 30px 29px;background: #f9f9fb; max-width: 100%; width: 100%; min-height: 155px;height: 200px;}
.highlights-area .single-middle-box h3 {color: #000; font-size: 18px; margin: 25px 0 14px;}
.highlights-area .single-middle-box p {letter-spacing: 1px; font-weight: 500;}
.highlights-area .single-middle-box .icon-holder {position: relative;display: block;width: 85px;height: 85px;background: #ffffff;margin: -42px auto 0; border-radius: 50%; border: 2px solid #8c0808;box-shadow: 1px 1px 5px #ccc;}
.highlights-area .single-middle-box .icon-holder span:before{color: #8c0808;font-size: 30px; line-height: 40px; display: block;padding: 22px 0;}
.down-sub{ width:100%; float:left;  background: url(../images/engineering-and-technology.png) fixed; background-size: cover;}
.down-sub h4 {color:#09012c; font-weight: 600; text-align: center;}
/*------------About----------------*/
.banner_area {background: url(../images/asia22.jpg) no-repeat;background-size: cover;text-align: center;position: relative; z-index: 1;padding-bottom: 5px; width: 100%; float: left;padding-top: 75px;}
.breadcrumb>li+li:before { padding: 0 5px; color: #ccc; content: "/\00a0";}
.breadcrumb>li { display: inline-block;}
.banner_area h1 { color: #ffffff; font: 600 40px !important; text-transform: uppercase; padding-top: 20px;}
.banner_area h2 { color: #ffffff; font: 600 40px !important; text-transform: uppercase; padding-top: 20px;}
.banner_area .breadcrumb { background-color: transparent; padding-top: 15px; width: 100%; text-align: center;float: left;display: block;}
.banner_area .breadcrumb li a { font: 400 14px; color: #ffffff;}
.banner_area .breadcrumb li a.active { color: #ffffff;}
#accordion .panel{ border: none; border-radius: 3px; box-shadow: none; margin-bottom: 15px;}
#accordion .panel-heading{ padding: 0; border: none; border-radius: 3px;}
#accordion .panel-title a{ display: block; padding: 12px 15px;background: #fff;font-size: 18px; font-weight: bold;color: #153882;border: 1px solid #ececec;box-shadow: 0 0 10px rgba(0,0,0,.05); position: relative;transition: all 0.5s ease 0s;}
#accordion .panel-title a.collapsed{box-shadow: none; color: #676767;}
#accordion .panel-title a:before,
#accordion .panel-title a.collapsed:before{ content: "\f055"; font-family: "FontAwesome"; width: 25px; height: 25px;line-height: 28px;font-size: 15px;font-weight: 900;color: #153882;text-align: center; position: absolute; top: 8px; right: 15px; transform: rotate(135deg); transition: all 0.3s ease 0s;}
#accordion .panel-title a.collapsed:before{ color: #676767;transform: rotate(0);}
#accordion .panel-title a:after{content: "";width: 1px;height: 100%;background: #ececec;position: absolute; top: 0;right: 55px;}
#accordion .panel-body{ padding: 10px 15px 15px;border: none; font-size: 15px; color: #615f5f; line-height: 27px;}
.bank-detl tr td:first-child { font-weight: 600;}
.bank-detl tr td { padding: 10px;}
.btn-redd {        background: #09012c;
    border: 2px solid #153882;
    color: #fff;
    border-radius: 0;}
.tab-content{border: 1px solid #ccc; margin-top: -12px; padding: 15px;}
.nav-tabs{    margin-bottom: 20px; border-bottom: none !important;}
.nav-tabs > li.active > a,.nav-tabs > li.active > a:hover,.nav-tabs > li.active > a:focus { color: #fff; cursor: default; background-color: #153882;border: 1px solid #ddd;border-bottom-color: transparent;font-weight:600;font-size: 16px; padding: 5px 15px;}
.nav-tabs > li > a { margin-right: 2px; line-height: 1.42857143; border: 1px solid transparent; border-radius: 4px 4px 0 0; background: #6a94ec; color: #000; font-size: 16px; padding: 5px 15px;}
.acm{ list-style:none; padding-left: 0;}
.acm li { margin: 5px 0;}
.acm li span {font-weight: 600; font-size: 16px; color: #153882;}
.dark-core {width: 100%; float:left;}

hr.style11 {height: 6px; background: url(http://ibrahimjabbari.com/english/images/hr-11.png) repeat-x 0 0; border: 0;margin: 20px 0 0 0 !important; padding: 15px 0 !important;}
.head { text-align: center;float: left; width: 100%; margin-bottom: 30px; font-size: 24px;color: #264881;font-weight: bold;}
.head1{ text-align: left;float: left; width: 100%; margin-bottom: 30px; font-size: 24px;color: #264881;font-weight: bold;}
.keynotes { text-align: center; padding: 60px 20px 35px 20px; margin: 120px 15px 35px; background: #f9f9f9; box-shadow: 8px 4px 0 0 #174787;
position: relative;}
.keynotes .title { display: inline-block; font-size: 18px; color: #4a5184; letter-spacing: 1px; text-transform: capitalize; margin: 0; font-weight: 600;}
.keynotes .pic {width: 120px;height: 120px;border: 5px solid #5ac3fc; margin: 0 auto; position: absolute; top: -60px;left: 0; right: 0;}
.keynotes .pic img {width: 100%; height: auto;}
.keynotes .testimonial-profile { position: relative;margin: 20px 0 0 0;}
.keynotes p {font-size: 15px; color: #1d1c1c; line-height: 27px;margin-bottom: 0; position: relative; text-align: center!important;padding-bottom: 0;}
.keynotes p i{font-size: 13px; color: #1d1c1c; line-height: 27px;margin-bottom: 0; position: relative;text-align: center!important; padding-bottom: 0;}
footer{width: 100%; float: left; background: #dcddde; padding: 50px 0;}
.logofooter{width: 100%; float: left;}
.logofooter h3{ font-size: 24px;color: #09012c; font-weight: 600;}
.logofooter p{ margin-bottom:10px;}
.regg h5{font-weight: 600;}
.regg ul{ padding-left:20px;}
.sub-form .form-group{ margin-bottom:10px;}
.footer-ul{list-style: square; padding-left: 22px;}
.footer-ul li a{ color:#000;}
.email-signature{ background: rgba(223,228,234,0.3); padding: 3%; box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2); position: relative;}
.email-signature .signature-img{ background: #fff;width: 145px; height: 145px; padding: 10px 10px;overflow: hidden; position: absolute;top: 25px;
left: 17px;  box-shadow: 2px 2px 10px #989494;}
.email-signature .signature-img img{ width: 100%; height: auto;}
.email-signature .signature-details{color: #f12424;background: #fff; padding: 15px 15px;margin-bottom: 15px; box-shadow: 0 3px 10px rgba(0,0,0,0.3);}
.email-signature .title{ font-size: 24px;font-weight: 600; letter-spacing: 1px;text-transform: uppercase;margin: 0 0 5px;display: inline-block;}
.email-signature .title:after{ content: '/'; display: inline-block; margin: 0 0 0 5px;}
.email-signature .post{font-size: 15px; font-weight: 500; letter-spacing: 1px;text-transform: capitalize;display: inline-block;}
.email-signature .signature-content{color: #000; font-size: 15px;line-height: 28px; padding: 0 20px 0 10px;margin: 0;list-style: none;    text-align: justify;}
.email-signature .signature-content li span{ margin: 0 6px 0 0; }
.email-signature .icon{padding: 0; margin: 0;list-style: none; box-shadow: 0 -1px 10px rgba(0,0,0,0.3); position: absolute; bottom: 0;left: 0;}
.email-signature .icon li{ margin-right: -35px; display: inline-block; -webkit-clip-path: polygon(29% 0, 100% 0%, 69% 100%, 0% 100%); clip-path: polygon(29% 0, 100% 0%, 69% 100%, 0% 100%);}
.email-signature .icon li:first-child{ -webkit-clip-path: polygon(0 0, 100% 0%, 69% 100%, 0% 100%); clip-path: polygon(0 0, 100% 0%, 69% 100%, 0% 100%);}
.email-signature .icon li a{ color: #fff; background: linear-gradient(to right,#E82C56 50%,#FC718E); font-size: 18px; line-height: 45px; height: 45px; padding: 0 40px;display: block; transition: all 0.3s ease 0s;}
.email-signature .icon li a:hover{ background:linear-gradient(to right,#373c44 50%,#57606f); }
.email-signature .signature-website{ font-size: 16px; position: absolute;bottom: 10px;right: 20px;}
@media screen and (max-width:576px){
.email-signature{ padding: 180px 0 75px 0;}
.email-signature .signature-img{top: 17px;left: 0; right: 0; margin: 0 auto;}
.email-signature .signature-details{ text-align: center;}
.email-signature .title{ display: block;}
.email-signature .title:after{ display: none;}
.email-signature .post{ display: block;margin: 0;}
.email-signature .signature-content{ padding: 0;margin-bottom: 7px; text-align: center; }
.email-signature .signature-website{transform: translateX(50%);right: 50%; bottom: 10px;}
}
@media screen and (max-width: 990px){
.our-team{ margin-bottom: 30px;}
}
@media (min-width: 768px) and (max-width: 1024px) {
.logo img{ width:100%;}
.important-date h3{ font-size:24px;}
.downloads h3{ font-size:24px;}
.date-sec h5 { margin-bottom: 0; font-size: 17px; color: #000; line-height: 18px; padding-top: 10px;}
hr.style4{ width: 195px;}
.qck-lin li a{ font-size: 14px;}
} 
@media screen and (max-width: 767px){
.logo { margin-top: 0;}
.conf-det{ margin-top:15px;}
.conf-det h3{font-size: 16px;}
.conf-det h1{font-size: 20px;}
.conf-det h5 {font-size: 16px;}
.conf-det h6 { font-size: 16px;}
.conf-det h4{ font-size:14px; line-height:18px;}
.conf-det p img{width: 30%;} 
.msg-sec{ margin-top:10px;}
.important-date{ width:100%;}
.downloads{ width:100%;}
}
.serviceBox {
     padding:40px 0 20px 0;
    text-align: center;
    border: 1px solid #ccc;
    margin: 45px 0 25px 0;
    height: 240px;
    position: relative;
    transition: all 0.3s linear 0s;
}
.serviceBox .service-icon{display: inline-block;border: 1px solid #ccc;width: 120px;height: 120px; border-radius: 50%;background: #4ca8e8;font-size: 30px;color: #fff;margin: -95px 0 0px;position: relative;transition: all 0.3s linear 0s;}
.serviceBox:hover .service-icon{background: #dcdcdc; color: #4ca8e8;}
.serviceBox .service-icon:after{ content: ""; border-top: 10px solid #4ca8e8; border-left: 10px solid transparent;border-right: 10px solid transparent;position: absolute;bottom: -10px;left: 50%; transform: translateX(-50%); transition: all 0.3s linear 0s;}
.serviceBox:hover .service-icon:after{ border-top-color: #dcdcdc;}
.serviceBox .title{ font-size: 16px; color: #414141; padding:20px 0px 0px; transition: all 0.3s ease 0s; text-align: center;}
.serviceBox .description{font-size: 16px; color: #000; line-height: 16px;}
.serviceBox .read-more{display: inline-block;padding: 1px; background: #fff;border: 1px solid #ccc; font-size: 16px;color: #414141; position: relative;bottom: -20px;transition: margin-right 0.5s ease 0s, border-color 0.3s ease 0s;}
.serviceBox .read-more span{ display: inline-block; padding: 5px 10px; background: #fff; margin: 0 -35px -12px 0;position: relative; left: 12px;
transition: margin-right 0.5s ease 0s;}
.serviceBox:hover .read-more span{ color: #153882; margin-right: 0;}
.serviceBox .read-more i{ display: inline-block; padding: 9px 10px 8px 10px; background: #153882; color: #fff;}
.serviceBox:hover,.serviceBox:hover .read-more{ border-color: #153882;}
.tabs { display: block;display: -webkit-flex;display: -moz-flex;display: flex;-webkit-flex-wrap: wrap; -moz-flex-wrap: wrap; flex-wrap: wrap;  margin: 0; overflow: hidden;}
.tabs [class^="tab"] label,  .tabs [class*=" tab"] label { color: #000; cursor: pointer; display: block; font-size: 1.1em; font-weight: 300;  line-height: 1em; padding: 0.3rem 0; text-align: center; }
.tabs [class^="tab"] [type="radio"],
.tabs [class*=" tab"] [type="radio"] { border-bottom: 1px solid rgba(239, 237, 239, 0.5); cursor: pointer; -webkit-appearance: none;
-moz-appearance: none; appearance: none; display: block; width: 100%; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }
.tabs [class^="tab"] [type="radio"]:hover, .tabs [class^="tab"] [type="radio"]:focus, .tabs [class*=" tab"] [type="radio"]:hover, .tabs [class*=" tab"] [type="radio"]:focus {border-bottom: 1px solid #fd264f; }
.tabs [class^="tab"] [type="radio"]:checked, .tabs [class*=" tab"] [type="radio"]:checked {border-bottom: 2px solid #fd264f; }
.tabs [class^="tab"] [type="radio"]:checked + div,.tabs [class*=" tab"] [type="radio"]:checked + div { opacity: 1; }
.tabs [class^="tab"] [type="radio"] + div, .tabs [class*=" tab"] [type="radio"] + div { display: block;  opacity: 0;padding: 2rem 0; width: 90%; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }
.tabs .tab-2 { width: 50%; }
.tabs .tab-2 [type="radio"] + div { width: 200%; margin-left: 200%;}
.tabs .tab-2 [type="radio"]:checked + div {margin-left: 0; }
.tabs .tab-2:last-child [type="radio"] + div { margin-left: 100%; }
.tabs .tab-2:last-child [type="radio"]:checked + div { margin-left: -100%; }



@media only screen and (min-width: 992px){
.col-md-12 {width:25%}
.col-md-11 {width:91.66666667%}
.col-md-10 {width:83.33333333%}
.col-md-9 {width:75%}
.col-md-8 {width:66.66666667%}
.col-md-7 {width:58.33333333%}
.col-md-6 {width:25%}
.col-md-5 {width:33.33333333%}
.col-md-4 {width:25%}
.col-md-3 {width:25%}
.col-md-2 {width:24.66666667%}
.col-md-1 {width:8.33333333%}
.col-md-pull-12 {right:100%}
.col-md-pull-11 {right:91.66666667%}
.col-md-pull-10 {right:83.33333333%}
.col-md-pull-9 {right:75%}
.col-md-pull-8 {right:66.66666667%}
.col-md-pull-7 {right:58.33333333%}
.col-md-pull-6 {right:50%}
.col-md-pull-5 {right:41.66666667%}
.col-md-pull-4 {right:33.33333333%}
.col-md-pull-3 {right:25%}
.col-md-pull-2 {right:16.66666667%}
.col-md-pull-1 {right:8.33333333%}
.col-md-pull-0 {right:auto}
.col-md-push-12 {left:100%}
.col-md-push-11 {left:91.66666667%}
.col-md-push-10 {left:83.33333333%}
.col-md-push-9 {left:75%}
.col-md-push-8 {left:66.66666667%}
.col-md-push-7 {left:58.33333333%}
.col-md-push-6 {left:50%}
.col-md-push-5 {left:41.66666667%}
.col-md-push-4 {left:33.33333333%}
.col-md-push-3 {left:25%}
.col-md-push-2 {left:16.66666667%}
.col-md-push-1 {left:8.33333333%}
.col-md-push-0 {left:auto}
.col-md-offset-12 {margin-left:100%}
.col-md-offset-11 {margin-left:91.66666667%}
.col-md-offset-10 {margin-left:83.33333333%}
.col-md-offset-9 {margin-left:75%}
.col-md-offset-8 {margin-left:66.66666667%}
.col-md-offset-7 {margin-left:58.33333333%}
.col-md-offset-6 {margin-left:50%}
.col-md-offset-5 {margin-left:41.66666667%}
.col-md-offset-4 {margin-left:33.33333333%}
.col-md-offset-3 {margin-left:25%}
.col-md-offset-2 {margin-left:16.66666667%}
.col-md-offset-1 {margin-left:8.33333333%}
.col-md-offset-0 {margin-left:0}
}
@media only screen and (max-width:767px){
.serviceBox{ margin-bottom: 80px; }
.highlights-area .single-box{ width:100%; max-width: 100%;}
.highlights-area .single-middle-box{ width:100%;max-width: 100%;}
.conf-name { background: #efeeee;}
.carousel-item{ min-height:100px;}
}
#mixedSlider {position: relative;}
#mixedSlider .MS-content {white-space: nowrap;overflow: hidden;margin: 0 5%;}
#mixedSlider .MS-content .item {display: inline-block;width: 33.3333%; position: relative;vertical-align: top; overflow: hidden; height: 100%;white-space: normal; padding: 0 10px;}
@media (max-width: 991px) {
#mixedSlider .MS-content .item { width: 50%;}
}
@media (max-width: 767px) {
#mixedSlider .MS-content .item { width: 100%;}
}
#mixedSlider .MS-content .item .imgTitle {position: relative;}
#mixedSlider .MS-content .item .imgTitle .blogTitle {margin: 0;text-align: left;letter-spacing: 2px; color: #252525; font-style: italic;
position: absolute;background-color: rgba(255, 255, 255, 0.5); width: 100%;bottom: 0;font-weight: bold; padding: 0 0 2px 10px;}
#mixedSlider .MS-content .item .imgTitle img {height: auto; width: 100%;}
#mixedSlider .MS-content .item p {font-size: 16px;margin: 2px 10px 0 5px; text-indent: 15px;}
#mixedSlider .MS-content .item a {float: right;margin: 0 20px 0 0;font-size: 16px;font-style: italic;color: rgba(173, 0, 0, 0.82); font-weight: bold;letter-spacing: 1px;transition: linear 0.1s;}
#mixedSlider .MS-content .item a:hover {text-shadow: 0 0 1px grey;}
#mixedSlider .MS-controls button { position: absolute; border: none; background-color: transparent; outline: 0; font-size: 50px;  top: 95px;
color: rgba(0, 0, 0, 0.4);transition: 0.15s linear;}
#mixedSlider .MS-controls button:hover {color: rgba(0, 0, 0, 0.8);}
@media (max-width: 992px) {
#mixedSlider .MS-controls button {  font-size: 30px;}
}
@media (max-width: 767px) {
#mixedSlider .MS-controls button {font-size: 20px;}
}
#mixedSlider .MS-controls .MS-left {left: 0px;}
@media (max-width: 767px) {
#mixedSlider .MS-controls .MS-left { left: -10px;}
}
#mixedSlider .MS-controls .MS-right {right: 0px;}
@media (max-width: 767px) {
#mixedSlider .MS-controls .MS-right { right: -10px;}
}
#basicSlider { position: relative;}
#basicSlider .MS-content {white-space: nowrap;overflow: hidden;margin: 0 2%;height: 50px;}
#basicSlider .MS-content .item { display: inline-block; width: 20%;position: relative;vertical-align: top;overflow: hidden;height: 100%; white-space: normal;line-height: 50px; vertical-align: middle;}
@media (max-width: 991px) {
#basicSlider .MS-content .item {width: 25%;}
}
@media (max-width: 767px) {
#basicSlider .MS-content .item {width: 35%;}
}
@media (max-width: 500px) {
#basicSlider .MS-content .item {width: 50%;}
}
#basicSlider .MS-content .item a { line-height: 50px; vertical-align: middle;}
#basicSlider .MS-controls button { position: absolute; }
#basicSlider .MS-controls .MS-left {top: 35px;left: 10px;}
#basicSlider .MS-controls .MS-right {top: 35px;right: 10px;}
.service-Box{ text-align: center; position: relative; box-shadow: 4px 4px 10px #ccc; padding: 10px;}
.service-Box .service-icon{ width: 130px; height: 130px; border-radius: 50%; padding: 10px; margin: 0 auto 45px; border: 2px solid #153882;
z-index: 1; position: relative; transition: all 0.5s ease 0s;}
.service-Box .service-icon:before,
.service-Box .service-icon:after{ content: ""; width: 35px; height: 35px;border-radius: 50%; background: #fff; border: 3px solid #153882; border-top: 2px solid transparent; border-right: 2px solid transparent; position: absolute; bottom: 0; left: 50%; opacity: 0; transform: translateX(-50%) rotate(135deg); transition: all 0.3s ease 0s;}
.service-Box .service-icon:after{ width: 20px; height: 20px; background: #153882; border: none;}
.service-Box:hover .service-icon:before{ bottom: -16px; opacity: 1;}
.service-Box:hover .service-icon:after{ bottom: -8px; opacity: 1;}
.service-Box .service-icon span{ display: block; width: 100%; height: 100%; font-size: 50px; color: #fd0028; line-height: 104px;    border-radius: 50%;border: 2px solid #153882;}
.service-Box .service-icon span:before,
.service-Box .service-icon span:after{ content: ''; display: block; width: 3px; height: 30px; background: #153882; position: absolute; bottom: 0; left: 50%; opacity: 0; transform: translateX(-50%); transition: all 0.3s ease 0s;}
.service-Box .service-icon span:after{ width: 20px; height: 20px; background: transparent; border: 3px solid #153882; border-left: 3px solid transparent; border-top: 3px solid transparent; transform: translateX(-48%) rotate(45deg);}
.service-Box:hover .service-icon span:before,
.service-Box:hover .service-icon span:after{bottom: -30px; opacity: 1;}
.service-Box .title{ font-size: 20px; color: #153882; text-transform: uppercase; margin: 0 0 10px 0; font-weight: 600;}
.service-Box .description{font-size: 15px; color: #333; padding: 0 10px; text-align: justify !important; margin: 0;}
@media only screen and (max-width:990px){
    .service-Box{ margin-bottom: 30px; }
}
nav > .nav.nav-tabs{

  border: none;
    color:#fff;
    background:#8c0808;
    border-radius:0;

}
nav > div a.nav-item.nav-link,
nav > div a.nav-item.nav-link.active
{
  border: 1px solid #09012c;
    padding: 18px 25px;
    color:#fff;
    background:#8c0808;
    border-radius:0;
}
/*
nav > div a.nav-item.nav-link.active:after
 {
  content: "";
  position: relative;
  bottom: -60px;
  left: -10%;
  border: 15px solid transparent;
  border-top-color: #e74c3c ;
}*/
.tab-content{
  background: #fdfdfd;
    line-height: 25px;
    border: 1px solid #ddd;
   /* border:1px solid #e74c3c;*/
    text-align:justify;
    padding:30px 25px;
	
	margin-bottom:2px;
}

nav > div a.nav-item.nav-link:hover,
nav > div a.nav-item.nav-link:focus
{
  border: none;
    background: #09012c;
    color:#fff;
    border-radius:0;
    transition:background 0.20s linear;
}

.coin {
    padding: 1.5%;
}

.down-btn {
    margin-bottom: 1em;
}
.down-btn a{ width: 100%;color: #8c0808; font-weight: 600; border: 2px solid #09012c;}
.down-btn a i{ color: #8c0808;}
.navbar-light .navbar-nav .nav-link {
    color: #000;
font-weight: 600;
    font-size: 13px;
    padding: 5px 9px !important;
}



.three-lin {
	background: #121117;
    border: 5px solid #afacbf;
    color: #fff;
    padding: 10px;
    width: 60%;
}
.dropdown-submenu {
 position: relative;
}

.dropdown-submenu .dropdown-menu {
 top: 0;
 left: 100%;
 margin-top: -1px;
}
.serBox{
    margin-top: 50px;
    border-bottom: 2px solid #3f484f;
    z-index: 1;
    position: relative;
    top: 0;
    transition: all 0.3s ease 0s;
}
.serBox:hover{
    top: -20px;
    border-bottom: 1px solid #3f484f;
}
.serBox:after{
    content: "";
    width: 2px;
    height: 100%;
    background: #8c0808;
    position: absolute;
    bottom: 0;
    left: 37.5px;
    z-index: -1;
    transition: all 0.3s ease 0s;
}
.serBox:hover:after{
    background: #58a4b0;
}
.serBox .ser-icon{
    display: inline-block;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background: #fff;
    border: 5px solid #c2c2c2;
    text-align: justify;
    line-height: 70px;
    float: left;
    font-size: 40px;
    color: #c2c2c2;
    z-index: 1;
    transition: all 0.3s ease 0s;
}
.serBox:hover .ser-icon{
    border-color: #58a4b0;
    color: #58a4b0;
    margin-top: -30px;
    animation: bounce 1s ease normal none 1;
}
.serBox .ser-content{
    margin-left: 150px;
    padding-bottom: 70px;
}
.serBox .title{
   font-size: 18px;
    font-weight: 600;
    color: #333;
    padding-left: 0px;
    margin-bottom: 7px;
    text-transform: capitalize;
    transition: all 0.4s ease-in-out 0s;
}
.serBox .description{
       font-size: 18px;
    color: #444;
    line-height: 24px;
    font-family: open sans-serif;
}
.serBox .read-more{
    display: inline-block;
    padding: 4px 16px;
    font-size: 13px;
    color: #58a4b0;
    text-transform: capitalize;
    border: 2px solid #58a4b0;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: all 0.3s ease 0s;
}
.serBox:hover .read-more{
    bottom: 25px;
    opacity: 1;
}
.serBox .read-more:hover{
    background: #58a4b0;
    color: #fff;
}
.get-quote-button {
    position: fixed;
    right: -85px;
    padding: 5px 20px;
    top: 45%;
    left: auto;
    display: block;
    transform: rotate(90deg);
    background-color: #09012c;
    text-transform: uppercase;
    z-index: 999;
    border-radius: 5px;
    cursor: pointer;
}
.get-quote-button {
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    transform: rotate(90deg);
}
.get-quote-button a {
    color: #fff;
    text-decoration: none;
}
.sticky-container {
    padding: 0px;
    margin: 0px;
    position: fixed;
    left: -120px;
    top: 51%;
    width: 159px;
    z-index: 999999;
}
.sticky-container li {
    list-style-type: none;
    background: #0a90f8;
    color: #fff;
    height: 43px;
    padding: 0px;
    margin: 0px 0px 1px 0px;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
}
.sticky-container li a {
    display: inline !important;
}
.sticky-container li img {
    float: right;
    margin: 5px 4px;
    margin-left: 14px;
}
.sticky-container li p {
    padding-top: 5px;
    margin: 0px;
    text-align: right;
    line-height: 16px;
    font-size: 11px;
    color: #fff !important;
}
.sticky-container li:hover {
    margin-right: -95px;
}
.button, select {
    text-transform: none;
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
}
.serviceBox1{padding: 0 20px;text-align: center;border: 1px solid #ccc;margin: 65px 0 30px 0;position: relative;    
height: 320px;transition: all 0.3s linear 0s;}
.serviceBox1 .service-icon{display: inline-block;border: 1px solid #ccc;width: 120px;height: 120px;line-height: 90px; border-radius: 50%;background: #4ca8e8;font-size: 30px;color: #fff;margin: -55px 0 20px;position: relative;transition: all 0.3s linear 0s;}
.serviceBox1 p{text-align:center;margin-bottom: 5px;}
.serviceBox1:hover .service-icon{background: #dcdcdc; color: #4ca8e8;}
.serviceBox1 .service-icon:after{ content: ""; border-top: 10px solid #4ca8e8; border-left: 10px solid transparent;border-right: 10px solid transparent;position: absolute;bottom: -10px;left: 50%; transform: translateX(-50%); transition: all 0.3s linear 0s;}
.serviceBox1:hover .service-icon:after{ border-top-color: #dcdcdc;}
.serviceBox1 .title{ font-size: 16px; color: #990e21; margin: 0 0 5px 0; transition: all 0.3s ease 0s;text-align: center;}
.serviceBox1 .description{font-size: 16px; color: #000; line-height: 25px;}
.serviceBox1 .read-more{display: inline-block;padding: 1px; background: #fff;border: 1px solid #ccc; font-size: 16px;color: #414141; position: relative;bottom: -20px;transition: margin-right 0.5s ease 0s, border-color 0.3s ease 0s;}
.serviceBox1 .read-more span{ display: inline-block; padding: 5px 18px; background: #fff; margin: 0 -35px -12px 0;position: relative; left: 12px;
transition: margin-right 0.5s ease 0s;}
.serviceBox1:hover .read-more span{ color: #990e21; margin-right: 0;}
.serviceBox1 .read-more i{ display: inline-block; padding: 9px 17px 8px 20px; background: #990e21; color: #fff;}
.serviceBox1:hover,.serviceBox:hover .read-more{ border-color: #990e21;}
